$checkout-theme: #fff;
/*checkout-1*/
.current-process{
    width: 150px;
    position: relative;
    .circle{
        position: relative;
        width: 15px;
        height: 15px;
        border: 1px solid $checkout-theme;
        border-radius: 50%;
        z-index: 4;
        &::before{
          content: '';
          position: absolute;
          top: 2px;
          bottom: 2px;
          left: 2px;
          right: 2px;
          border-radius: 50%;
        }
    }
    .circle-now{
        &::before{
            background-color: $checkout-theme;
        }
    }
    &::after{
        content: '';
        position: absolute;
        left: 15px;
        right: 15px;
        height: 1px;
        background-color: $checkout-theme;
        top: 50%;
        z-index: 2;
    }
    &.success-process{
        &::after{
            background-color: $sweet;
        }
    }
}

/*checkout-3*/
.receipt{
    a{
        color: $checkout-theme;
        &:hover{
            color: $checkout-theme;
            background-color: grey;
        }
    }
    .active{
        color: #3F5D45;
        background: $sweetlight;
    }
}
/*checkout-success*/
@media(min-width:1120px){
    .successHeader{
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
}